input[type = email], input[type = password]{
   display: block;
   width: 100%;
}

input[type = password]{
    line-height: 4;
}

.forget-pass a:nth-child(1){
    text-transform: capitalize;
    color: black;
}


.forget-pass a:nth-child(2){
    text-transform: capitalize;

}
