
input{
    outline: none;
}

#btn{
    background-color: #FF2E2E;
}

form{
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    padding: 2rem;
}

.login-container{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container h1{
    text-align: left;
    line-height: 2;
}

.validate-input{
    display: flex;
    align-items: center;
    justify-content: center;
}

.validate-input input{
    margin-right: 2rem;
}

input:not(.check input){
    margin-bottom: 2rem;
    margin-top: 2rem;
}


#number{
   width: 660px;
}

.check{
    display: flex;
    align-items: center;
}

.check input{
    margin-right: 1rem;
}

form input{
    border: none;
    border-bottom: 1px solid #FF2E2E;;
}

.account-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.account-btn input, .goggle input{
    margin-right: 2rem;
    background-color: #FF2E2E;
    border: none;
    font-weight: bold;
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.goggle{
    display: grid;
    place-items: center;
}

.goggle input{
    margin-right: 0;
}

form p{
    text-align: center;
    font-size: 1.2rem;
}

form p a{
    text-transform: uppercase;
    color: #FF2E2E;
    font-weight: bold;
}

.select{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
}

.select div{
    width: 200px;
    height: 1px;
    background-color: gray;
}

.select p{
    margin: 0 1rem;
}
