.container{
    padding: 2rem;
    max-width: 1600px;
    margin: 0 auto;
}

button{
  outline: none;
}

h1{
    font-size: 2rem;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.flex-item h1{
    font-size: 3rem;
    line-height: 1.5;
}

.flex-item p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color:  #ACABAA;
}

.flex-item .input{
    display: flex;
    align-items: center;
    border: 1px solid #FF2E2E;
    justify-content: space-between;
    padding: 0.2rem 0.3rem 0.2rem 1rem;
    border-radius: 25px;
    transition: all 0.5s linear;
}

.flex-item .input input[type=text]{
    border: none;
    outline: none;
    margin-right: 0.5rem;
    width: 80%;
}

.flex-item .input button{
    border: none;
    background-color: #FF2E2E;
    color: white;
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    outline: none;
}

/* Product section */
.product-section h1{
    color: #777777;
    font-weight: lighter;
    line-height: 4;
}

.product-btn{
    display: flex;
    align-self: center;
}

.product-btn button{
    border-radius: 25px;
    transition: all 0.5s linear;
    padding: 0.5rem 1rem;
    color: black;
    border: none;
    background-color: #a1a0a0;
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-right: 1rem;
    cursor: pointer;
    outline: none;
}

.product-btn .active{
    color: white;
    background-color: black;
}

.products{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}


.product-item{
    margin: 3rem 0;
    text-align: center;

    width: 272px;
    border-radius: 5px;
    padding-bottom: 2rem;
}

.product-name{
    font-size: 1.3rem;
    line-height: 2.5;
}

.product-price{
    display: inline;  
}

.product-item .btn-like{
    background-color: transparent;
    border: none;
    margin-left: 0.5rem;
    cursor: pointer;
}

.btn-cart{
    border: none;
    padding: 0.3rem 1rem;
    border-radius: 25px;
    margin-left: 0.5rem;
    cursor: pointer;
}


/* Review section */
.review-section{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
}

.review-section div{
  margin-right: 5rem;
}

.review-section h1{
  line-height: 2;
  text-transform: capitalize;
  font-weight: 400;
}

.review-section p{
  line-height: 2;
  font-size: 1.2rem;
}

.review-section p i{
  margin-right: 1rem;
}

.img-carousel{
  display: flex;
  align-items: center;
}

.img-carousel button{
  border: none;
  background-color: black;
  padding: 0.3rem 1rem;
  transition: all 0.5s linear;
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
}

.right{
  left: 51.7%;
}

.left{
  left: 23.5%;
}

.img-carousel button i{
  color: white;
}